# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Documentation
docs

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# misc
.DS_Store
.vscode
# Local Netlify folder
.netlify
